{% extends _layout %}
{% import '@app/shared/layout/mail/macro.html.twig' as e %}

<twig:block name="body">
    {% apply markdown_email %}
        # Hey {{ event.token.owner.username }},

        Nous avons reçu une demande de réinitialisation de votre mot de passe Devscast.

        {%- if _format == 'html' -%}
            {% embed '@app/shared/layout/mail/section.html.twig' %}
                <twig:block name="content">
                    <div style="text-align: center">
                        Scanner le QRCode pour réinitialiser le mot de passe ou utiliser le lien
                        <img src="{{ qr_code_data_uri(url('authentication_reset_password_confirm', {token: event.token.token})) }}" title="scanner le qrcode pour réinitialiser le mot de passe" alt="qrcode" />
                    </div>
                </twig:block>
            {% endembed %}
        {%- endif -%}

        Ce lien peut être utilisé pour réinitialiser votre mot de passe Devscast. On ne le demande jamais pour autre chose.


        Si vous ignorez ce message, votre mot de passe ne sera pas modifié.


        Si vous n'avez pas demandé la réinitialisation du mot de passe, faites-le nous savoir.

        Ce lien ne sera plus valide après **30 minutes**,
        {{ e.button('Réinitialiser le mot de passe', url('authentication_reset_password_confirm', {token: event.token.token}), 'primary', _format) }}
    {% endapply %}
</twig:block>
