{% extends _layout %}

<twig:block name="body">
    {% apply markdown_email %}
        # Hey {{ user.username }},

        Essayez-vous de vous connecter à Devscast ? Voici votre code d'authentification :

        {%- if _format == 'html' -%}
            <twig:DashliteEmailSection>
                <div style="text-align: center">
                    <code>
                        <strong>{{ user.emailAuthCode }}</strong>
                    </code>
                </div>
            </twig:DashliteEmailSection>
        {%- else -%}
            {{ user.emailAuthCode }}
        {%- endif -%}
    {% endapply %}
</twig:block>
