{% extends _layout %}
{% import '@app/shared/layout/mail/macro.html.twig' as e %}

<twig:block name="body">
    {% apply markdown_email %}
        # Hey {{ user.username }},

        Essayez-vous de vous connecter à Devscast ? Voici votre code d'authentification :

        {%- if _format == 'html' -%}
            {% embed '@app/shared/layout/mail/section.html.twig' %}
                <twig:block name="content">
                    <div style="text-align: center">
                        <code>
                            <strong>{{ user.emailAuthCode }}</strong>
                        </code>
                    </div>
                </twig:block>
            {% endembed %}
        {%- else -%}
            {{ user.emailAuthCode }}
        {%- endif -%}
    {% endapply %}
</twig:block>
