<div class="nk-block">
    <div class="nk-block-head">
        <h5 class="title">{{ this.title }}</h5>
        <div>{{ this.description }}</div>
    </div>

    <div class="profile-ud-list">
        <twig:block name="content"></twig:block>
    </div>
</div>
