<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright">
                © {{ 'now' | date('Y') }} <strong>{{ this.copyRight }}.</strong> Tous droits réservés.
            </div>
            <div class="nk-footer-copyright">
                Développé par <a href="https://devscast.tech">Devscast</a>
            </div>
        </div>
    </div>
</div>
