<div class="mb-10">
    <h2 class="text-fg-heading1 text-lg">Partenaires</h2>
    <div class="mt-2 flex flex-col space-y-2">
        <a href="" target="_blank">
            <img src="https://devscast.tech/images/clients/majestic.webp" alt="logo x" width="1200" class="w-auto h-9 mix-blend-color-burn">
        </a>
        <a href="" target="_blank">
            <img src="https://devscast.tech/images/clients/congomemoire.webp" alt="logo x" width="1200" class="w-auto h-9 mix-blend-color-burn">
        </a>
        <a href="" target="_blank">
            <img src="https://devscast.tech/images/clients/goodbytes.webp" alt="logo x" width="1200" class="w-auto h-9 mix-blend-color-burn">
        </a>
        <a href="" target="_blank">
            <img src="https://devscast.tech/images/clients/clubdiaspora.webp" alt="logo x" width="1200" class="w-auto h-9 mix-blend-color-burn">
        </a>
    </div>
</div>
