<a href="./membres/membre.html" class="flex items-start gap-x-3 lg:-mx-2 p-4 rounded-outer-radius lg:rounded-none border border-bdr lg:border-none lg:py-2 lg:px-2 bg-background-card lg:bg-transparent hover:bg-gray-100/80 hover:rounded-outer-radius dark:hover:bg-gray-900/90">
    <div class="min-w-max">
        <img class="w-12 h-12 object-cover rounded-outer-radius" src="{{ asset(devscast_dashlite.application.logo_path) }}" alt="user avatar">
    </div>
    <div class="flex flex-col flex-1 space-y-1">
        <h3 class="text-fg-heading1 font-medium line-clamp-1">John Doe</h3>
        <button
            class="btn px-3 h-7 max-w-max text-sm before:bg-gray-800 dark:before:bg-gray-100 before:border before:border-bdr text-gray-50 dark:text-gray-900">
            <span class="relative z-[6]">Suivre</span>
        </button>
    </div>
</a>
