<div class="dark:p-px rounded-outer-radius bg-dark-gradient w-full min-w-full xs:w-11/12 xs:min-w-[91.666667%] max-w-sm md:max-w-none sm:w-4/5 sm:min-w-[80%] md:w-1/2 md:min-w-[calc(50%-4px)] lg:w-3/4 xl:w-1/2 lg:min-w-[65%] xl:min-w-[calc(50%-4px)]">
    <div class="rounded-inner-radius-gradient p-2 bg-background-card">
        <div class="flex gap-3 items-center">
            <img class="w-24 h-24 rounded-md bg-neutral-lighter dark:bg-neutral-800" src="https://ssl-static.libsyn.com/p/assets/a/e/4/d/ae4de219513cad32/2021-01-salesforce-devs-podcast-1400x1400-v2.png" alt="">
            <div>
                <a href="./podcast/podcast.html" class="text-base text-fg-heading1 line-clamp-2 font-semibold hover:text-gray-950 dark:hover:text-primary">
                    How to live freelancing in DR Congo
                </a>
                <button class="mt-2 w-max group btn btn-sm before:bg-background-card-inside rounded-md">
                    <span class="w-max relative flex items-center gap-1 text-sm tracking-wide font-medium text-secondary-500 text-fg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="relative bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
                    </svg>
                    Écouter
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
