<div {{ stimulus_controller('scrollable-box')}} class="relative">
    <button {{ stimulus_action('scrollable-box', 'left', 'click') }} class="absolute hidden md:flex items-center justify-center top-1/2 -translate-y-1/2 -left-4 bg-background-card text-fg ease-linear active:scale-95 border border-bdr p-2 rounded-outer-radius outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">precedent</span>
    </button>
    <button {{ stimulus_action('scrollable-box', 'right', 'click') }} class="absolute hidden md:flex items-center justify-center top-1/2 -translate-y-1/2 -right-4 bg-background-card text-fg ease-linear active:scale-95 border border-bdr p-2 rounded-outer-radius outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">suivant</span>
    </button>

    <div {{ stimulus_target('scrollable-box', 'content') }} class="flex items-stretch overflow-hidden overflow-x-auto scrollbar-hidden space-x-2">
        <twig:AppPromotedPodcastItem />
        <twig:AppPromotedPodcastItem />
        <twig:AppPromotedPodcastItem />
    </div>
</div>
