<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><twig:block name="title"></twig:block> | Devscast Community</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <twig:block name="stylesheets">
            {{ encore_entry_link_tags('app') }}
        </twig:block>

        <twig:block name="javascripts">
            {{ encore_entry_script_tags('app') }}
        </twig:block>
    </head>
    <body>
        <twig:block name="body"></twig:block>
    </body>
</html>
