{% extends '@DevscastDashlite/layout/base.html.twig' %}
<twig:block name="title">{{ 'Administration' }}</twig:block>

<twig:block name="sidebar">{{ include('@admin/shared/_sidebar.html.twig') }}</twig:block>

<twig:block name="body">
    <div class="alert alert-pro alert-primary">
        <div class="alert-text"><h6>Hello {{ app.user.name }},</h6>
            <p>Your order has been successfully placed for diposit. Your will be redirect for make your payment.</p>
        </div>
    </div>
</twig:block>
