<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
<span class="float-right">
    {% if sorted %}
        {% if direction == 'desc' %}
            <twig:icon name="arrow-up"/>
        {% else %}
            <twig:icon name="arrow-down"/>
        {% endif %}
    {% else %}
        <twig:icon name="opt-alt"/>
    {% endif %}
</span>
{{ title }}
</a>
