{% for message in app.flashes('success') %}
    <div is="app-toast" type="success">
        {{ message | nl2br }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div is="app-toast" type="error">
        {{ message | nl2br }}
    </div>
{% endfor %}
