<div class="card card-stretch">
    <div class="card-inner-group">
        <div class="card-inner p-0">
            <div class="nk-tb-list nk-tb-list">
                <div class="nk-tb-item nk-tb-head">
                    {% block header %}{% endblock %}
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
        {% if data is defined %}
            <div class="card-inner d-flex justify-content-center">
                {{ knp_pagination_render(this.data) }}
            </div>
        {% endif %}
    </div>
</div>
