{% extends '@app/shared/layout/base_layout.html.twig' %}
<twig:block name="title">Devscast Community</twig:block>

<twig:block name="content">
    <main class="box-container w-full relative space-y-24 pb-24">

        <!-- hero section -->
        <section class="pt-24 relative pb-px">
            <span class="absolute inset-x-0 h-0.5 bottom-0 bg-gradient-to-b from-gray-200 to-gray-100 dark:from-gray-900 dark:to-gray-800 rounded-full"></span>
            <div class="text-center mx-auto max-w-4xl space-y-10">
                <h1 class="text-fg-heading1 font-bold leading-snug text-3xl sm:text-4xl md:text-5xl lg:text-6xl max-w-3xl mx-auto">
                    Rejoignez la communauté qui vous fera grandir
                </h1>
                <p class="text-center text-fg-heading3 mx-auto max-w-xl">
                    Un espace permettant aux développeurs d'apprendre, de se développer et de résoudre des problèmes ensemble
                </p>
                <div class="mx-auto flex flex-col sm:flex-row items-center gap-3 justify-center">
                    <a href="#" class="btn btn-md before:bg-gray-800 dark:before:bg-primary text-gray-50 dark:text-gray-900">
            <span class="relative z-[6]">
              Rejoindre maintenant
            </span>
                    </a>
                    <a href="#" class="btn btn-md before:border before:border-bdr text-fg-heading3">
            <span class="relative z-[6]">
              Se connecter
            </span>
                    </a>
                </div>
                <div class="relative">
                    <div class="flex justify-center w-full aspect-[3/1.4] overflow-hidden bg-gradient-to-t from-gray-200 to-gray-100 dark:from-gray-900 dark:to-gray-800 relative rounded-t-[18px]">
                        <img src="/images/frameLight.webp" alt="devscast community screen" width="1200" class="absolute top-1 left-1 w-[calc(100%-8px)] dark:hidden">
                        <img src="/images/framweDark.webp" alt="devscast community screen" width="1200" class="absolute top-1 left-1 w-[calc(100%-8px)] hidden dark:flex">
                        <span class="absolute inset-x-0 bottom-0 h-20 bg-gradient-to-t from-gray-50 dark:from-gray-950"></span>

                    </div>
                    <div class="flex flex-col gap-3 mx-auto w-max text-left absolute top-1/2 -left-4 sm:-left-20 p-3 rounded-radius-inside1 bg-background-card border border-bdr">
                        <div class="flex items-center -mx-2 children:w-8 children:h-8 children:rounded-outer-radius children:object-cover -space-x-2 children:ring-4 children:ring-background">
                            <img src="/avatar.png" alt="avatar">
                            <img src="/avatar.png" alt="avatar">
                            <img src="/avatar.png" alt="avatar">
                        </div>
                        <p class="text-sm text-fg"><span class="font-semibold">2k personnes</span> <br> ont rejoint la communauté</p>
                    </div>
                    <div class="hidden sm:flex items-center space-x-3 mx-auto w-max text-left absolute top-1/4 sm:-right-20 p-3 rounded-radius-inside1 bg-background-card border border-bdr">

                        <span class="text-sm text-fg">+200 articles <br> et podcasts</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="space-y-10">
            <h1 class="font-bold text-fg-heading1 text-3xl md:text-4xl mx-auto text-center max-w-xl">
                Des startups et entreprises qui croient en nous
            </h1>
            <div class="flex justify-center flex-wrap gap-4">
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
                <div class="p-2">
                    <img src="/logos/beserved.png" alt="logo " width="600" class="w-auto h-9 max-w-full">
                </div>
            </div>
        </section>


        <!-- join us -->
        <section class="space-y-14">
            <h1 class="font-bold text-fg-heading1 text-3xl md:text-4xl mx-auto text-center max-w-xl">
                Une communauté de développeurs où nous sommes tous connectés.
            </h1>
            <div class="space-y-10 md:space-y-0 md:space-x-12 md:flex md:items-center">
                <div class="md:w-1/2 xl:w-[43%] space-y-6 lg:space-y-8 text-fg-heading3 md:py-2">
                    <div class="gap-4 flex items-start">
                        <div class="bg-gray-800 dark:bg-gray-900 text-gray-100 p-3 rounded-outer-radius">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-width="2" d="M10 21c-2.5 2.5-5 2-7 0s-2.5-4.5 0-7l3-3l7 7l-3 3Zm4-18c2.5-2.5 5-2 7.001 0c2.001 2 2.499 4.5 0 7l-3 3L11 6l3-3Zm-3 7l-2.5 2.5L11 10Zm3 3l-2.5 2.5L14 13Z"></path>
                            </svg>
                        </div>
                        <div class="space-y-3">
                            <h2 class="font-semibold text-fg-heading2 text-xl">Connectez-vous</h2>
                            <p>
                                Notre plateforme communautaire est un excellent moyen de se connecter avec des personnes partageant les mêmes intérêts et d'apprendre de nouvelles choses. Vous pouvez participer à des discussions avec d'autres membres de la communauté sur une variété de sujets
                            </p>
                        </div>
                    </div>
                    <div class="gap-4 flex items-start">
                        <div class="bg-gray-800 dark:bg-gray-900 text-gray-100 p-3 rounded-outer-radius">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4">
                                    <path d="M8 12a4 4 0 1 0 0-8a4 4 0 0 0 0 8Zm2 30a6 6 0 1 0 0-12a6 6 0 0 0 0 12Zm28 2a6 6 0 1 0 0-12a6 6 0 0 0 0 12ZM22 28a8 8 0 1 0 0-16a8 8 0 0 0 0 16Zm12-16a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z" clip-rule="evenodd"></path>
                                    <path d="m11 11l4 4m15-3l-2 2m6 19.5L28 26m-14 5l4-4"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="space-y-3">
                            <h2 class="font-semibold text-fg-heading2 text-xl">Partagez - Apprenez</h2>
                            <p>
                                Nous pensons que chacun a quelque chose à offrir, et nous encourageons la participation active de tous les membres de la communauté. Nous croyons que la communauté est plus forte lorsque les gens sont prêts à partager leurs connaissances et à apprendre les uns des autres
                            </p>
                        </div>
                    </div>
                    <div class="gap-4 flex items-start">
                        <div class="bg-gray-800 dark:bg-gray-900 text-gray-100 p-3 rounded-outer-radius">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32">
                                <path fill="currentColor" d="M26 13a4.005 4.005 0 0 0 4-4V6h-3a3.979 3.979 0 0 0-2.747 1.106A6.004 6.004 0 0 0 19 4h-3v3a6.007 6.007 0 0 0 6 6h1v13H11v-5h1a4.005 4.005 0 0 0 4-4v-3h-3a3.979 3.979 0 0 0-2.747 1.106A6.004 6.004 0 0 0 5 12H2v3a6.007 6.007 0 0 0 6 6h1v5H2v2h28v-2h-5V13Zm-1-3a2.002 2.002 0 0 1 2-2h1v1a2.002 2.002 0 0 1-2 2h-1Zm-14 8a2.002 2.002 0 0 1 2-2h1v1a2.002 2.002 0 0 1-2 2h-1Zm-2 1H8a4.005 4.005 0 0 1-4-4v-1h1a4.005 4.005 0 0 1 4 4Zm14-8h-1a4.005 4.005 0 0 1-4-4V6h1a4.005 4.005 0 0 1 4 4Z"></path>
                            </svg>
                        </div>
                        <div class="space-y-3">
                            <h2 class="font-semibold text-fg-heading2 text-xl">Grandissez</h2>
                            <p>
                                Notre plateforme communautaire est un excellent moyen d'obtenir des conseils et des recommandations d'autres professionnels. Vous pouvez poser des questions sur votre carrière, vos projets ou vos objectifs. Vous pouvez également obtenir des conseils sur la façon de développer vos compétences, de trouver un emploi ou de lancer votre propre entreprise.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-1 md:h-full">
                    <img src="/images/students_learning.webp" alt="students learning" class="w-full aspect-video md:aspect-auto md:h-full rounded-outer-radius object-cover">
                </div>
            </div>
        </section>


        <!-- testimonials  -->
        <section class="space-y-14">
            <h1 class="font-bold text-fg-heading1 text-3xl md:text-4xl mx-auto text-center max-w-xl">
                Ce qu'ils pensent de la communauté
            </h1>
            <div class="sm:columns-2 lg:columns-3 gap-6 space-y-6 children:break-inside-avoid children:space-y-8 children:p-4 children:sm:p-6 children:bg-background-card children:rounded-outer-radius children:border children:border-bdr">
                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam fuga voluptates dolore
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam fuga voluptates dolore hic molestiae
                        dolorem, consequuntur modi. Laudantium dolorum mollitia quam ut, ipsa excepturi id nam magni cupiditate
                        amet.
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam fuga voluptates dolore hic molestiae
                        dolorem, consequuntur modi. Laudantium dolorum mollitia quam ut, ipsa excepturi id nam magni cupiditate
                        amet.
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam fuga voluptates dolore hic molestiae
                        dolorem, consequuntur modi. Laudantium dolorum mollitia quam ut, ipsa excepturi id nam magni cupiditate
                        amet.
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magnam fuga voluptates dolore hict.
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="text-fg-heading3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="flex items-start gap-x-4">
                        <img class="h-12 w-12 rounded-full" src="/avatar.png" alt="Bernard Ng" width="400" height="400">
                        <div>
                            <h3 class="text-lg font-medium text-fg-heading1">John doe</h3>
                            <span class="text-sm text-fg-heading3">.Net developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- latest news from blog -->
        <section class="space-y-14">
            <div class="space-y-10">
                <h1 class="font-bold text-fg-heading1 text-3xl md:text-4xl mx-auto text-center max-w-xl">
                    De nouvelles depuis notre blog
                </h1>
                <div class="w-max mx-auto">
                    <a href="https://devscast.tech/posts" target="_blank" class="btn btn-md before:border before:border-bdr text-fg-heading3">
            <span class="relative z-[6]">
              Decouvrir plus
            </span>
                    </a>
                </div>
            </div>
            <div class="grid gap-12 md:gap-6 md:grid-cols-2 lg:gap-12 children:flex children:flex-col children:gap-y-6 children:p-4 children:sm:p-6 children:bg-background-card children:rounded-outer-radius children:border children:border-bdr">
                <a href="#">
                    <img src="/images/image1.webp" alt="post cover" class="aspect-video object-cover w-full rounded">
                    <div class="space-y-5 flex flex-col flex-1">
                        <div class="flex flex-wrap gap-x-3 gap-y-3 items-center text-fg-heading4">
              <span>
                12-12-2022
              </span>
                            <span class="w-px h-2 bg-gray-600 dark:bg-gray-400 rounded-full"></span>
                            <span>
                12min
              </span>
                        </div>
                        <h1 class="text-fg-heading1 tracking-tight font-semibold text-2xl flex-1">Les Design Patterns en Kotlin : Le
                            Singleton</h1>
                        <div class="flex items-start gap-x-4">
                            <img class="h-12 w-12 rounded-full" src="https://devscast.tech/uploads/avatar/b18303c0-a086-4e0e-bcb2-9aac16e265df.jpg" alt="Yves kalume" width="400" height="400">
                            <div>
                                <h3 class="text-lg font-semibold text-fg-heading1">Yves kalume</h3>
                                <span class="text-sm text-fg-heading3">.Net developer</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <img src="/images/image1.webp" alt="post cover" class="aspect-video object-cover w-full rounded">
                    <div class="space-y-5 flex flex-col flex-1">
                        <div class="flex flex-wrap gap-x-3 gap-y-3 items-center text-fg-heading4">
              <span>
                12-12-2022
              </span>
                            <span class="w-px h-2 bg-gray-600 dark:bg-gray-400 rounded-full"></span>
                            <span>
                12min
              </span>
                        </div>
                        <h1 class="text-fg-heading1 tracking-tight font-semibold text-2xl flex-1">Les Design Patterns en Kotlin : Le
                            Singleton</h1>
                        <div class="flex items-start gap-x-4">
                            <img class="h-12 w-12 rounded-full" src="https://devscast.tech/uploads/avatar/b18303c0-a086-4e0e-bcb2-9aac16e265df.jpg" alt="Yves kalume" width="400" height="400">
                            <div>
                                <h3 class="text-lg font-semibold text-fg-heading1">Yves kalume</h3>
                                <span class="text-sm text-fg-heading3">.Net developer</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
</twig:block>

