<div class="card">
    <div class="card-inner">
        <div class="card-head">
            <h5 class="card-title">
                {% block simple_card_title %}{% endblock %}
            </h5>
        </div>
        {% block simple_card_body %}{% endblock %}
    </div>
</div>
