{% extends '@app/domain/authentication/layout/base.html.twig' %}
<twig:block name="title">{{ 'authentication.titles.settings.index' | trans([], 'authentication') }}</twig:block>

<twig:block name="body">
    <h1>{{ 'authentication.titles.settings.index' | trans([], 'authentication') }}</h1>
    <hr>
    <a href="{{ path('auth_settings_2fa') }}">2fa</a>
</twig:block>
