{% extends _layout %}
{% import 'shared/layout/mail/macro.html.twig' as e %}

{% block body %}
    {% apply markdown_email %}
        # Hey {{ user.username }},

        Désolé d'apprendre que vous avez des difficultés à vous connecter à Devscast.
        Nous pouvons vous aider à vous reconnecter directement à votre compte.

        {%- if _format == 'html' -%}
            {% embed 'shared/layout/mail/section.html.twig' %}
                {% block content %}
                    <div style="text-align: center">
                        Scanner le QRCode pour vous connecter ou utiliser le lien direct
                        <img src="{{ qr_code_data_uri(link.url) }}" title="scanner le qrcode pour vous connecter" alt="qrcode de connexion" />
                    </div>
                {% endblock %}
            {% endembed %}
        {%- endif -%}

        Ce lien peut être utilisé pour vous connecter à votre compte Devscast. On ne le demande jamais pour autre chose.



        Si vous n'avez pas demandé ce lien en essayant de vous connecter ou de réinitialiser votre mot de passe, ignorez simplement ce mail.

        Ce lien ne sera plus valide après **10 minutes**,
        {{ e.button('Me connecter', link.url) }}

        Vous pouvez également <a rel="noopener" href="{{ url('authentication_reset_password_request') }}" title="réinitialiser votre mot de passe Devscast.">réinitialiser votre mot de passe</a>
    {% endapply %}
{% endblock %}
