{% extends _layout %}
{% import 'shared/layout/mail/macro.html.twig' as e %}

{% block body %}
    {% apply markdown_email %}
        # Hey {{ user.username }},

        Essayez-vous de vous connecter à Devscast ? Voici votre code d'authentification :

        {%- if _format == 'html' -%}
            {% embed 'shared/layout/mail/section.html.twig' %}
                {% block content %}
                    <div style="text-align: center">
                        <code>
                            <strong>{{ user.emailAuthCode }}</strong>
                        </code>
                    </div>
                {% endblock %}
            {% endembed %}
        {%- else -%}
            {{ user.emailAuthCode }}
        {%- endif -%}
    {% endapply %}
{% endblock %}
