<div class="card card-stretch">
    <div class="card-aside-wrap">
        <div class="card-content">
            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
               <twig:block name="tabs"></twig:block>
            </ul>
            <div class="card-inner">
                <twig:block name="content"></twig:block>
            </div>
        </div>
        <twig:block name="aside"></twig:block>
    </div>
</div>
