{% extends '@admin/shared/layout/base.html.twig' %}
{% block title 'Ajouter un tag' %}

{% block header %}
    {% embed "@admin/shared/component/_header.html.twig" %}
        {% block header_title "Ajouter un tag" | title %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('administration_content_tag_index') }}" class="btn btn-white btn-dim btn-outline-light" aria-label="{{ 'global.back' | trans }}" title="{{ 'global.back' | trans }}">
                    {{ 'arrow-long-left' | icon }}
                    <span>Tous les tags</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed "@admin/shared/component/card/_simple.html.twig" %}
        {% block simple_card_body %}
            {% include '@admin/shared/component/_form.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
